{
  "scriptId": "วาง_SCRIPT_ID_ที่คัดลอกมาไว้ตรงนี้",
  "scriptExtensions": [
    ".js",
    ".gs"
  ],
  "htmlExtensions": [
    ".html"
  ],
  "jsonExtensions": [
    ".json"
  ],
  "filePushOrder": [],
  "skipSubdirectories": false
}